html, body{
	height: 100%;
}

body{
	background: url('../image.jpg');
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

.login{
	width: 325px;
	background: white;
	text-align: center;
	padding: 30px;
	border: 2px solid rgba(0, 0, 0, .65);
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	margin:0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.login h1{
	margin: 0;
	font-size: 2em;
}

.login h4{
	font-weight: normal;
	padding: 10px;
	background: #fff3cd;
	color: #856404;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1) inset;
}

.login input{
	font-family: inherit;
	width: 300px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
	font-size: 0.85em;
}

.login input[type="password"]{
	margin-top: 5px;
}

.login input[type="submit"]{
	width: 50%;
	background: #17a2b8;
	color: white;
	box-shadow: 0 2px 0 rgb(0, 55, 135);
	font-size: 1em;
	margin: 20px 0 5px 0;
}

.login input[type="submit"]:hover{
	cursor: pointer;
}

.login input[type="submit"]:active{
	box-shadow: none;
	position: relative;
	top: 2px;
}